html {
    font-family: sans-serif;
}

#aSports{
    z-index: 0;
}

#aSports {
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px;
    align-items: center;
}

.card-title {
    border-bottom: 2px solid #eee;
    font-weight: normal;
    text-align: center;
}

.card-wrap {
    display: flex;
    height: 350px;
    width: 232px;
    flex-direction: column;
    transition: all .5s ease;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.card-wrap:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    transform: translate3d(0, -4px, 0);
}

.card-wrap header {
    flex: 150;
    background: #3388E4;
    display: flex;
    padding: 25px 20px 0;
    flex-direction: column;
    color: white;
}

.card-wrap header h3 {
    align-self: center;
    font-weight: normal;
}

.card-wrap header span {
    align-self: flex-end;
    font-size: 14px;
}

.card-wrap article,
.card-wrap footer {
    background: white;
    color: #222;
}

.card-wrap article {
    flex: 100;
    padding: 15px;
    font-size: 14px;
}

.card-wrap footer {
    flex: 25;
    display: flex;
    padding: 5px 15px;
    flex-direction: row;
}

.card-wrap footer span {
    font-size: 9px;
}

.card-wrap footer .clock {
    flex: 1.5;
}

.card-wrap footer .like {
    flex: 0.5;
    text-align: right;
}