*{
	padding: 0;
	margin: 0;
}
#index{
	background-image: url(../images/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
.a{
	width: 30%;
	height: 100%;
	position: absolute;
	right: 0;
	background-color: rgba(255, 255, 255, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.a h1{
	margin: 25px 0;
}
#tosign{
	font-size: 18px;
}
.identity{
	margin-bottom: 10px;
}
#tosign:link{
	text-decoration: none;
	color: 'blue';
}
#tosign:visited{
	text-decoration: none;
	color: 'blue';
}
.maincontent h1{
	text-align: center;
}
#pic{
	margin-top: 40px;
	margin-bottom: 20px;
	width: 150px;
	height: 150px;
	border-style: solid; border-width: 2px;
	border-color: white;
}
.leftmain{
	background-color: #314076;
	/*margin-top: 10px;*/
	text-align: center;
	width: 200px;
	margin-left: 15px;
	height: 100%;
	float:left;
	box-shadow: 5px 5px 5px #888888;
}
.rightmain{
	border-style: solid; border-width: 1px; 
	width: 82%;
	height: 96%;
	margin-top: 20px;
	margin-left: 10px;
	border-color: #CCC;
	float:left;
	box-shadow: 5px 5px 5px #888888;
}
#user_name{
	padding: 15px 0px;
	color: white;
    background: #1F284B;
    margin: 20px 0;
}
#dd{
	margin: 10px;
}
#dd img{
	float: left;
	margin: 8px;
}
#dateTime{
	float: left;
	margin: 5px;
}
#back p{
	margin-right: 8px;
	display: inline;
}
#back{
	float: right;
	margin-top: 4px;
	margin-right: 15px;
}
.clear{
	clear: both;
}
.main a{
	color: white;
	height: 38px;
    font-size: 22px;
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    height: 60px;
    line-height: 60px;
}
.main a:link {
	/*background-color: rgba(255, 255, 255, 0.5);*/
	text-decoration: none;
}
.main a:visited {
	background-color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
} 
.main a:hover {
	background-color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
} 
.main a:active {
	background-color: rgba(255, 255, 255, 0.5);
	text-decoration: none;
} 
.maincontent div img{
	width:800px;
	height: auto; 
	text-align: center;
}
.maincontent div h2{
	text-align: center;
}

.rollings{
	width: 70%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}


.rolling {
    width: 450px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
	border: 1px solid #ddd;
}

.rolling .roll-title {
    overflow: hidden;
    height: 42px;
    background: #fff;
    padding: 0 10px;
    line-height: 42px;
    border-bottom: 1px solid #ddd;
}

.rolling .roll-title .prev,.rolling .roll-title .next {
    display: block;
    width: 24px;
    height: 70px;
    float: right;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    top: 67px;
    right: 0;
    left: 0;
    display: none;
    z-index: 100;
}

.rolling .roll-title .prev img {
    width: 22px;
    height: 48px;
}

.rolling .roll-title .next img {
    width: 22px;
    height: 48px;
}

.rolling .roll-title .next {
    right: -2px;
    display: none;
    left: inherit;
}

.rolling .roll-title ul {
    float: right;
    overflow: hidden;
    zoom:1; margin-top: 10px;
}

.rolling .content {
    width: 450px;
    height: 100px;
    overflow: hidden;
    padding-left: 40px;
    padding-right: 40px;
}

.rolling .content ul {
    overflow: hidden;
    zoom:1; }

.rolling .content ul li {
    float: left;
    height: 80px;
    line-height: 24px;
    text-align: left;
    display: inline;
    font-size: 13px;
    margin: 10px 0;
	position: relative;
	text-align: center;
}
.rolling .content ul li a{
    font-size: 22px;
	position: absolute;
    left: 0px;
}

.rolling .content ul li span {
    color: #b7b7b7;
	position: relative;
	top: 60px;
}

.roll-title h2 {
    font-weight: normal;
    font-size: 14px;
    float: left;
}

.rolling-more {
    float: right;
    color: #666;
    font-size: 12px;
}

.rolling .rolling-more:after {
    content: "";
    display: inline-block;
    margin-bottom: 1px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 7px;
    height: 7px;
    border: 1px solid #666;
    border-right: none;
    border-bottom: none;
}

.rolling .content ul li a:hover {
    color: #08acee;
    text-decoration: underline;
}

.rolling:hover .next{
    display:block;
}

.rolling:hover .prev{
    display:block;
}

.noinfo{
	text-align: center;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.noinfo::-webkit-scrollbar{
	display: none;
}
.noinfo img{
	max-width: 100%;
}